<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - PawsShop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="carrito">
    <header>

    </header>
 <main class="home">
        <h2>Resumen</h2>
   
       <div class="compra">
               <div class="articulo">
                   <p >Itens</p>
               </div>
               <div class="qComproItens">
                   <p > Precio </p>
                   <p > Cantidad </p>
                   <p > Total </p>
                </div>
        </div> 
 <!-- <section class="articulos">/section>--> 
       <article class="articulosComprados">
           <div class="articulo">     
              <img class="img" src="images/productoGatito.jpg" width="100%"alt="">
              <h4>Nombre prod</h4>
              <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores alias incidunt ullam.</p>
            </div>
           <div class="qCompro">
               <p class="precio">$2.500</p>
              <!---->
               <div class= "cantidad">
                  <div > 
                       <button class="signoA">+</button>
                       <button class="cant">1</button>
                       <button class="signoB"> - </button>
                  </div>
               </div>
               <p class="total">$2.500</p>
           </div>
        </article>
<!-- >--> 
        <article class="articulosComprados">
            <div class="articulo">     
                <img  src="/images/productoPerros2.png" width="100%"alt="">
                <h4>Old Price x 15kg </h4>
                <p class="descripcion">Purina Pro Plan elimina la “brecha inmunológica” y provee nutrición completa que ayuda a los
                    cachorros a crecer fuertes y sanos. A su vez, también ayuda a otras cosas claves en el cuidado
                    de la mascota, tales como reforzar el sistema inmune, fortalecer la microflora intestinal y
                    reforzar la barrera cutánea.</p>
            </div>
            <div class="qCompro">
                <p class="precio">$5.570</p>
                
                <div class= "cantidad">
                   <div>
                       <button class="signoA">+</button>
                       <button class="cant">1</button>
                       <button class="signoB">-</button>
                   </div>
                </div>
                <p class=" total">$5.570</p>
            </div>
        </article>
<!-- >--> 
        <article class="articulosComprados">
            <div class="articulo">     
                <img  src="images/productoPerros.jpg" width="100%"alt="">
                <h4>Nombre prod</h4>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores alias incidunt ullam.</p>
            </div>
            <div class="qCompro">
                <p class="precio">$3.000</p>
                <div class= "cantidad">
                   <div>
                       <button class="signoA">+</button>
                       <button class="cant">3</button>
                       <button class="signoB">-</button>
                   </div>  
                </div>
                <p class=" total">$9000</p>
            </div>
        </article>
<!-- >--> 
        <article class="articulosComprados">
            <div class="articulo">     
                <img class="imagen" src="images/sobrePolloPerro.jpg" width="100%"alt="">
                <h4>Nombre prod</h4>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores alias incidunt ullam.</p>
            </div>
            <div class="qCompro">
                <p class="precio">$55</p>
                <div class= "cantidad">
                   <div>
                       <button class="signoA">+</button>
                       <button class="cant">2</button>
                       <button class="signoB">-</button>
                   </div>
                </div>
                <p class=" total">$110</p>
            </div>
        </article>

<!--seccion de 3 botones >--> 

        <div class="botones">
            <button class="contComprando">Continuar comprando</button>
            <button class="vaciar">Vaciar</button>
            <button class="actualizar">Actualizar</button>
        </div>

        <div class="cupon">
            <h4>Aplicar cupon</h4>
            <div class="box-form">
               <input type="box-form" name= "ingCodigo" id = "codigo" class= cod placeholder="ingrese codigo"> </i>
               <label for="codigo"></label>
               <button>Aplicar</button>
        </div>

<!--confirmacion de compra para emitir boleta >--> 
        <section class="confirmacionDeCompra">
            <div class="data">
               <p class="subtotal">Subtotal</p>
               <p class="impuestos">Impuestos</p>
               <p class="descuento">Descuentos</p>
               <p class="totalCompra">Total Compra</p>
            </div>
            <div class="pagar">
                <p class="subtotal"> $17.180</p>
                <p class="impuestos1">Hoy 0%</p>
                   <p class="impuestos2">Es de la casa por eso no paga</p>
                <p class="descuento1">No posee cupon</p>
                   <p class="descuento2">Es de la casa descuento de 50%</p>
                <p class="totalCompra1"> $17.180</p>
                   <p class="totalCompra2">$8.590</p>
            </div>
        </section>
<!--confirmacion >--> 
        <button class="confirmarPed">Confirmar pedido</button>
    
    </main>
    <footer>

    </footer>
</body>
</html>