<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto - PawsShop</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="d-producto">
    <header>
        <div class="conteiner">
            <div class="logo"><a href="/"><img src="/images/Paws4.png" alt=""></a></div>
            <div class="contenido">
                <div class="p-header"><img src="/images/patitasHeader.jpg" alt=""></div>
                <div class="busqueda">
                    <form action="/home">
                        <div>
                            <a class="icon-search" href=""><i class="fas fa-search"></i></a>
                            <input type="search" name="" placeholder="Buscar...">
                            <a class="icon-down" href=""><i class="fas fa-chevron-down"></i></a>
                        </div>
                    </form>
                </div>
                <div class="f-animales"><img src="/images/Animales.jpg" alt=""></div>
                <a class="btn-burger" href=""><i class="fas fa-bars"></i></a>
                <nav class="user">
                    <ul>
                        <li>
                            <a href="/carrito.html"><i class="fas fa-shopping-cart"></i></a>
                            <a href=""><i class="far fa-bell"></i></a>
                            <a href=""><i class="far fa-user"></i></a>
                        </li>
                    </ul>
                </nav>
                <nav class="nav-menu">
                    <ul>
                        <li><a href="">Mascotas</a></li>
                        <li><a href="">Marca</a></li>
                        <li><a href="">Oferta</a></li>
                        <li><a href="">Servicos</a></li>
                    </ul>
                </nav>
                <div class="Promo">
                    <a href="">¡Promos!</a>
                    <i class="far fa-clock"></i>
                </div>
                <div class="f-perritos"><img src="/images/familia-perritos.jpg" alt=""></div>
                <div class="f-patitas-mini"><img src="/images/Patita-mini.jpg" alt=""></div>
            </div>
        </div>
    </header>

    <main>
        <div class="conteiner">
            <div class="img">
                <img src="/images/productoPerros2.png" alt="">
            </div>
            <div class="info">
                <div class="descripcion">
                    <h3>Descripción</h3>
                    <p>Purina Pro Plan elimina la “brecha inmunológica” y provee nutrición completa que ayuda a los
                        cachorros a crecer fuertes y sanos. A su vez, también ayuda a otras cosas claves en el cuidado
                        de la mascota, tales como reforzar el sistema inmune, fortalecer la microflora intestinal y
                        reforzar la barrera cutánea.</p>
                </div>
                <div class="beneficios">
                    <h3>Beneficios</h3>
                    <p>Mejora la piel y el pelo.</p>
                    <p>Reduce la intolerancia alimentaria.</p>
                    <p>Refuerza el sistema inmunológico intestinal.</p>
                </div>
            </div>
            <div class="data-compra">
                <div class="data">
                    <div class="descuento">
                        <div class="box">
                            <p>20% OFF</p>
                        </div>
                    </div>
                    <div class="peso">
                        <div class="box-peso">
                            <p> 8 KG</p>
                        </div>
                    </div>
                    <div class="precio">
                        <div class="box">
                            <p>$ 5570,00</p>
                        </div>
                    </div>
                </div>

                <div class="comprar">
                    <div class="restar">
                        <div class="btn">
                            <a href="">-</a>
                        </div>
                    </div>
                    <div class="cantidad">
                        <input type="text" class="contador" value="1">
                    </div>
                    <div class="sumar">
                        <div class="btn">
                            <a href="">+</a>
                        </div>
                    </div>
                    <div class="añadir-carrito">
                        <div class="carrito">
                            <a href="">Añadir al Carrito</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </main>
    <footer>
        <div class="conteiner-footer">
            <div class="logo-redes">
                <div class="logo">
                    <img src="/images/Paws4.png" alt="">
                </div>
                <div class="redes">
                    <div class="social">
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="data">
                <nav>
                    <ul>
                        <li>
                            <div>
                                <a class="titulo" href="">Nosotros</a>
                                <section class="data">
                                    <a href="">Sobre Paws's Shop</a>
                                    <a href="">Trabaja con Nosotros</a>
                                    <a href="">Sucursales</a>
                                    <a href="">Revista del Mes</a>
                                    <a href="">Desarrollo Institucional</a>
                                    <a href="">Proveedores</a>
                                </section>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="titulo" href="">Tienda Online</a>
                                <section class="data">
                                    <a href="">Envío Programado</a>
                                    <a href="">Formas de Entrega</a>
                                    <a href="">Descuentos Bancarios</a>
                                    <a href="">Cambios y devoluciones Legales</a>
                                    <a href="">Cyber Monday 2021</a>
                                </section>
                            </div>
                        </li>
                        <li class="servicios">
                            <div>
                                <a class="titulo" href="">Servicios</a>
                                <section class="data">
                                    <a href="">Veterinaria</a>
                                    <a href="">Peluquería</a>
                                    <a href="">Adopciones</a>
                                    <a href="">Microchips</a>
                                </section>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="titulo" href="">Contacto</a>
                                <section class="data">
                                    <article>
                                        <p>Atención Teléfonica:</p>
                                        <p>0810-220-2345</p>
                                    </article>
                                    <article>
                                        <p>Atención Whatsapp:</p>
                                        <p>+54-911-6702-6320</p>
                                    </article>
                                    <article>
                                        <p>Lunes a Sábados de 9 a 21 hs</p>
                                        <p>Domingos de 10 a 20 hs</p>
                                    </article>
                                </section>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="patita">
                <div class="imagen-patita">
                    <img src="/images/Patita.jpg" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>