<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PawsShop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="Login">
    <header>

    </header>
    <main>
        <div>

            <div class="formularios">

                <label>Registrarte</label>
                <p>Es rápido y fácil</p>
                <form action="/registro" method="POST"></form>
                <div class="formularios"></div>
                <div>"img-20210714-WA0027.JPG"></div>


                <div class="formularios">
                    <label for="pass">Nombre:</label>
                    <input type="password" placeholder="" id="pass">
                    <option value="#FFFAFA"></option>

                </div>
                <div>
                    <label for="pass">Apellido:</label>
                    <input type="password" placeholder="" id="pass">
                    <option value="#FFFAFA"></option>
                </div>
                <div>
                    <label for="pass">Fecha de nacimiento:</label>
                    <option value="#FFFAFA"></option>
                    <input type="date" name="fecha" value="1893-11-10">
                    <option value="#FFFAFA"></option>
                </div>
                <div>
                    <label for="pass">Sexo:</label>
                    <input type="password" placeholder="" id="pass">
                    <option value="#FFFAFA"></option>
                </div>
                <div>
                    <label for="pass">Número de celular o Correo electronico:</label>
                    <input type="password" placeholder="" id="pass">
                    <option value="#FFFAFA"></option>
                </div>
                <div>
                    <label for="pass">Contraseña:</label>
                    <input type="password" placeholder="" id="pass">
                    <option value="#FFFAFA"></option>

                </div>
                <div class="box-check">
                    <input type="checkbox" id="remember">
                    <label for="remember">recordame</label>
                </div>
                <div>
                    <button type="submit">REGISTRARTE</button>
                </div>


    </main>
    <footer>
        
    </footer>
</body>
</html>