<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PawsShop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="login">
    <header>

    </header>
    <main class="home">
        <div class="patita">
            <img src="/images/bienvenidos-login.jpg" alt="">
            </div>
        <div class="formulario">
            <div class="logo">
                <img src="/images/logo.jpg" alt="" width="100%">
            </div>
            <form action="" method="POST">
                <div class="box-form">
                    <label for="email">Email</label>
                    <input type="Email" placeholder="email@empresa.com" id="email" name="email">
                </div>
                <div class="box-form">
                   
                    <label for="pass">Contraseña</label>
                    <input type="password" placeholder="tu contraseña" id="pass" name="password">
                </div>
                   <div class="box-check">
                    <input type="checkbox" id="Mantener sesión" name="Mantener sesión">
                    <label for="Mantener sesión"> Mantener sesión </label>
                    <a href=""class="contras">¿Olvidaste tu contraseña?</a> 
                </div>
                    <li class="botonIng">
                    <a href="" class="boton">Ingresar</a>
                    <a href="" class="botonIngresar">Ingresar con Google</a>
                </li>
    
                <ol class="a">
                    <a href="#">Terminos y condiciones </a>
                    <p> - </p>
                    <a href="#"> Politicas de privacidad</a>
            
                </ol>
             
                
            </form>
        </div>

    </main>

</body>

</html>