<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - PawsShop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="register">
    <main class="home">
        <div class="registro">
            <form action="/registro" method="POST"></form>
            <div class="contenedor">
                <div>
                <h3>Registrate</h3>
                <h6>Es rápido y fácil</h6>
            </div>
            <img src="images/loguitopews.jpg" width="30%" alt="30%">
        </div>

        <form action="/registro" method="POST">

        <div class="formularios">
            <label for="pass">Nombre:</label>
            <input type="password" placeholder="" id="pass">
            <option value="#FFFAFA"></option>


            <label for="pass">Apellido:</label>
            <input type="password" placeholder="" id="pass">
            <option value="#FFFAFA"></option>


            <label for="pass">Fecha de nacimiento:</label>
            <option value="#FFFAFA"></option>
            <input type="password" placeholder="" id="pass">
            <option value="#FFFAFA"></option>

            <label for="pass">Sexo:</label>
            <input type="password" placeholder="" id="pass">
            <option value="#FFFAFA"></option>


            <label for="pass">Número de celular o Correo electronico:</label>
            <input type="password" placeholder="" id="pass">
            <option value="#FFFAFA"></option>


            <label for="pass">Contraseña:</label>
            <input type="password" placeholder="" id="pass">
            <option value="#FFFAFA"></option>
            </section>
        </div>
        </div>
        </section>
        <div class="box-form">
             <p>REGISTRARTE</p>
            
        </div>

    </main>
</body>

</html>