<footer>
    <div class="conteiner-footer">
        <div class="logo-redes">
            <div class="logo">
                <img src="/images/Paws4.png" alt="">
            </div>
            <div class="redes">
                <div class="social">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="data">
            <nav>
                <ul>
                    <li>
                        <div>
                            <a class="titulo" href="">Nosotros</a>
                            <section class="data">
                                <a href="">Sobre Paws's Shop</a>
                                <a href="">Trabaja con Nosotros</a>
                                <a href="">Sucursales</a>
                                <a href="">Revista del Mes</a>
                                <a href="">Desarrollo Institucional</a>
                                <a href="">Proveedores</a>
                            </section>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a class="titulo" href="">Tienda Online</a>
                            <section class="data">
                                <a href="">Envío Programado</a>
                                <a href="">Formas de Entrega</a>
                                <a href="">Descuentos Bancarios</a>
                                <a href="">Cambios y devoluciones Legales</a>
                                <a href="">Cyber Monday 2021</a>
                            </section>
                        </div>
                    </li>
                    <li class="servicios">
                        <div>
                            <a class="titulo" href="">Servicios</a>
                            <section class="data">
                                <a href="">Veterinaria</a>
                                <a href="">Peluquería</a>
                                <a href="">Adopciones</a>
                                <a href="">Microchips</a>
                            </section>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a class="titulo" href="">Contacto</a>
                            <section class="data">
                                <article>
                                    <p>Atención Teléfonica:</p>
                                    <p>0810-220-2345</p>
                                </article>
                                <article>
                                    <p>Atención Whatsapp:</p>
                                    <p>+54-911-6702-6320</p>
                                </article>
                                <article>
                                    <p>Lunes a Sábados de 9 a 21 hs</p>
                                    <p>Domingos de 10 a 20 hs</p>
                                </article>
                            </section>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="patita">
            <div class="imagen-patita">
                <img src="/images/Patita.jpg" alt="">
            </div>
        </div>
    </div>
</footer>