<header>
    <div class="conteiner">
        <div class="logo"><a href="/"><img src="/images/Paws4.png" alt=""></a></div>
        <div class="contenido">
            <div class="p-header"><img src="/images/patitasHeader.jpg" alt=""></div>
            <div class="busqueda">
                <form action="/home">
                    <div>
                        <a class="icon-search" href=""><i class="fas fa-search"></i></a>
                        <input type="search" name="" placeholder="Buscar...">
                        <a class="icon-down" href=""><i class="fas fa-chevron-down"></i></a>
                    </div>
                </form>
            </div>
            <div class="f-animales"><img src="/images/Animales.jpg" alt=""></div>
            <div class="burger">
                <div class="btn-burger"><a class="" href=""><i class="fas fa-bars"></i></a></div>
            </div>
            <nav class="user">
                <ul>
                    <li>
                        <a href="/carrito.html"><i class="fas fa-shopping-cart"></i></a>
                        <a href=""><i class="far fa-bell"></i></a>
                        <a href=""><i class="far fa-user"></i></a>
                    </li>
                </ul>
            </nav>
            <nav class="nav-menu">
                <ul>
                    <li><a href="">Mascotas</a></li>
                    <li><a href="">Marca</a></li>
                    <li><a href="">Oferta</a></li>
                    <li><a href="">Servicos</a></li>
                </ul>
            </nav>
            <div class="Promo">
                <a href="">¡Promos!</a>
                <i class="far fa-clock"></i>
            </div>
            <div class="f-perritos"><img src="/images/familia-perritos.jpg" alt=""></div>
            <div class="f-patitas-mini"><img src="/images/Patita-mini.jpg" alt=""></div>
        </div>
    </div>
</header>