<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {tittle: 'error;'}) %> 

<body class="404">
    <%- include('partials/header') %> 



    <main class="contenido">
       
        <div class="d-flex flex-column justify-content-center">
            <img src="/images/Patita.jpg"  class="img-fluid" alt="">
           
           </div>   
                 <li class="botonIng">
                   <p>Ocurrio un error</p>
                   
                    <a href="/users/register" class="boton">nuevo intento</a>    
                </li>
    
      
    
    </main>

    <%- include('partials/footer') %> 

    <%- include('partials/scripts') %> 
</body>

</html>