<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {tittle: 'Detalle'}) %> 

<body class="d-producto">
    <%- include('partials/header') %> 

    <main>
        <div class="conteiner">
            <div class="img">
                <img src="/images/productoPerros2.png" alt="">
            </div>
            <div class="info">
                <div class="descripcion">
                    <h3>Descripción</h3>
                    <p>Purina Pro Plan elimina la “brecha inmunológica” y provee nutrición completa que ayuda a los
                        cachorros a crecer fuertes y sanos. A su vez, también ayuda a otras cosas claves en el cuidado
                        de la mascota, tales como reforzar el sistema inmune, fortalecer la microflora intestinal y
                        reforzar la barrera cutánea.</p>
                </div>
                <div class="beneficios">
                    <h3>Beneficios</h3>
                    <p>Mejora la piel y el pelo.</p>
                    <p>Reduce la intolerancia alimentaria.</p>
                    <p>Refuerza el sistema inmunológico intestinal.</p>
                </div>
            </div>
            <div class="data-compra">
                <div class="data">
                    <div class="descuento">
                        <div class="box">
                            <p>20% OFF</p>
                        </div>
                    </div>
                    <div class="peso">
                        <div class="box-peso">
                            <p> 8 KG</p>
                        </div>
                    </div>
                    <div class="precio">
                        <div class="box">
                            <p>$ 5570,00</p>
                        </div>
                    </div>
                </div>

                <div class="comprar">
                    <div class="restar">
                        <div class="btn">
                            <a href="">-</a>
                        </div>
                    </div>
                    <div class="cantidad">
                        <input type="text" class="contador" value="1">
                    </div>
                    <div class="sumar">
                        <div class="btn">
                            <a href="">+</a>
                        </div>
                    </div>
                    <div class="añadir-carrito">
                        <div class="carrito">
                            <a href="">Añadir al Carrito</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </main>
    <%- include('partials/footer') %> 
</body>

</html>