<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {tittle: 'Login'}) %> 

<body class="login">
    <%- include('partials/header') %> 

    <main class="home">
        <div class="patita">
            <img src="/images/bienvenidos-login.jpg" alt="">
            </div>
        <div class="formulario">
            <div class="logo">
                <img src="/images/logo.jpg" alt="" width="100%">
            </div>
            <form action="/users/login" method="POST">
                <div class="box-form">
                    <label for="email">Email</label>
                    <input type="Email" placeholder="email@empresa.com" id="email" name="email">
                </div>
                <div class="box-form">
                   
                    <label for="pass">Contraseña</label>
                    <input type="password" placeholder="tu contraseña" id="pass" name="password">
                </div>
                <div class="box-check">
                    <input type="checkbox" id="Mantener sesión" name="remember">
                    <label for="Mantener sesión"> Mantener sesión </label>
                    <a href=""class="contras">¿Olvidaste tu contraseña?</a> 
                </div>
               
                <li class="botonIng">
                     <button class="boton" type="submit" >Ingresar</button>


                    <a href="" class="botonIngresar">Ingresar con Google</a>
                </li>

               

                <li class="botonIng">
                    <p>Si no estas registrado</p>
                    <a href="/users/register" class="boton">Registrarte</a>    
                </li>
    

                <ol class="a">
                    <a href="#">Terminos y condiciones </a>
                    <p> - </p>
                    <a href="#"> Politicas de privacidad</a>
            
                </ol>
             
                
            </form>
        </div>

    </main>

    <%- include('partials/footer') %> 

</body>

</html>