<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PawsShop</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="login">
        <header>
            <div class="conteiner">
                <div class="logo"><a href="/"><img src="/images/Paws4.png" alt=""></a></div>
                <div class="contenido">
                    <div class="p-header"><img src="/images/patitasHeader.jpg" alt=""></div>
                    <div class="busqueda">
                        <form action="/home">
                            <div>
                                <a class="icon-search" href=""><i class="fas fa-search"></i></a>
                                <input type="search" name="" placeholder="Buscar...">
                                <a class="icon-down" href=""><i class="fas fa-chevron-down"></i></a>
                            </div>
                        </form>
                    </div>
                    <div class="f-animales"><img src="/images/Animales.jpg" alt=""></div>
                    <div class="burger">
                        <div class="btn-burger"><a class="" href=""><i class="fas fa-bars"></i></a></div>
                    </div>
                    <nav class="user">
                        <ul>
                            <li>
                                <a href="/carrito.html"><i class="fas fa-shopping-cart"></i></a>
                                <a href=""><i class="far fa-bell"></i></a>
                                <a href=""><i class="far fa-user"></i></a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="">Mascotas</a></li>
                            <li><a href="">Marca</a></li>
                            <li><a href="">Oferta</a></li>
                            <li><a href="">Servicos</a></li>
                        </ul>
                    </nav>
                    <div class="Promo">
                        <a href="">¡Promos!</a>
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="f-perritos"><img src="/images/familia-perritos.jpg" alt=""></div>
                    <div class="f-patitas-mini"><img src="/images/Patita-mini.jpg" alt=""></div>
                </div>
            </div>
        </header>

    <main class="home">
        <div class="patita">
            <img src="/images/bienvenidos-login.jpg" alt="">
            </div>
        <div class="formulario">
            <div class="logo">
                <img src="/images/logo.jpg" alt="" width="100%">
            </div>
            <form action="" method="POST">
                <div class="box-form">
                    <label for="email">Email</label>
                    <input type="Email" placeholder="email@empresa.com" id="email" name="email">
                </div>
                <div class="box-form">
                   
                    <label for="pass">Contraseña</label>
                    <input type="password" placeholder="tu contraseña" id="pass" name="password">
                </div>
                   <div class="box-check">
                    <input type="checkbox" id="Mantener sesión" name="Mantener sesión">
                    <label for="Mantener sesión"> Mantener sesión </label>
                    <a href=""class="contras">¿Olvidaste tu contraseña?</a> 
                </div>
                    <li class="botonIng">
                    <a href="" class="boton">Ingresar</a>
                    <a href="" class="botonIngresar">Ingresar con Google</a>
                </li>
    
                <ol class="a">
                    <a href="#">Terminos y condiciones </a>
                    <p> - </p>
                    <a href="#"> Politicas de privacidad</a>
            
                </ol>
             
                
            </form>
        </div>

    </main>

    <footer>
        <div class="conteiner-footer">
            <div class="logo-redes">
                <div class="logo">
                    <img src="/images/Paws4.png" alt="">
                </div>
                <div class="redes">
                    <div class="social">
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="data">
                <nav>
                    <ul>
                        <li>
                            <div>
                                <a class="titulo" href="">Nosotros</a>
                                <section class="data">
                                    <a href="">Sobre Paws's Shop</a>
                                    <a href="">Trabaja con Nosotros</a>
                                    <a href="">Sucursales</a>
                                    <a href="">Revista del Mes</a>
                                    <a href="">Desarrollo Institucional</a>
                                    <a href="">Proveedores</a>
                                </section>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="titulo" href="">Tienda Online</a>
                                <section class="data">
                                    <a href="">Envío Programado</a>
                                    <a href="">Formas de Entrega</a>
                                    <a href="">Descuentos Bancarios</a>
                                    <a href="">Cambios y devoluciones Legales</a>
                                    <a href="">Cyber Monday 2021</a>
                                </section>
                            </div>
                        </li>
                        <li class="servicios">
                            <div>
                                <a class="titulo" href="">Servicios</a>
                                <section class="data">
                                    <a href="">Veterinaria</a>
                                    <a href="">Peluquería</a>
                                    <a href="">Adopciones</a>
                                    <a href="">Microchips</a>
                                </section>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="titulo" href="">Contacto</a>
                                <section class="data">
                                    <article>
                                        <p>Atención Teléfonica:</p>
                                        <p>0810-220-2345</p>
                                    </article>
                                    <article>
                                        <p>Atención Whatsapp:</p>
                                        <p>+54-911-6702-6320</p>
                                    </article>
                                    <article>
                                        <p>Lunes a Sábados de 9 a 21 hs</p>
                                        <p>Domingos de 10 a 20 hs</p>
                                    </article>
                                </section>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="patita">
                <div class="imagen-patita">
                    <img src="/images/Patita.jpg" alt="">
                </div>
            </div>
        </div>
    </footer>

</body>

</html>