<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {tittle: 'Register'}) %> 
<body class="register">
    <%- include('partials/header') %> 


    <main class="home">
        <div class="registro">
            <form action="/registro" method="POST">

                <div class="formularios">
                    <div class="contenedor">
                        <div>
                            <h3>Registrate</h3>
                            <h6>Es rápido y fácil</h6>
                        </div class="loguito">
                        <img src="images/loguitopews.jpg" width="40%" alt="40%">
                    </div>

                    <div class="datos">

                        <label for="pass">Nombre:</label>
                        <div class="nombre"></div>
                            <input type="password" placeholder="" id="pass">
                            <option value="#FFFAFA"></option>


                            <label for="pass">Apellido:</label>
                            <input type="password" placeholder="" id="pass">
                            <option value="#FFFAFA"></option>


                            <label for="pass">Fecha de nacimiento:</label>
                            <option value="#FFFAFA"></option>
                            <input type="password" placeholder="" id="pass">
                            <option value="#FFFAFA"></option>

                            <label for="pass">Sexo:</label>
                            <input type="password" placeholder="" id="pass">
                            <option value="#FFFAFA"></option>


                            <label for="pass">Número de celular o Correo electronico:</label>
                            <input type="password" placeholder="" id="pass">
                            <option value="#FFFAFA"></option>


                            <label for="pass">Contraseña:</label>
                            <input type="password" placeholder="" id="pass">
                            <option value="#FFFAFA"></option>
                        </div>
                        </section>
                    </div>
                </div>
                </section>
                <div class="box-form">
                    <p>REGISTRARTE</p>

                </div>

    </main>
    <%- include('partials/footer') %> 
</body>

</html>